div {
  display: inline-block;
  padding: 20px;
  margin-top: 80px;
  margin-right: 10px;
}

.img1 {
  border: 20px;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  background-color: orange;
}

.img2 {
  border: 10px;
  border-color: antiquewhite;
  border-style: solid;
  background-color: lightcoral;
}

.img3 {
  border: 3px;
  border-radius: 5px;
  border-color: bisque;
  border-style: solid;
  background-color: brown;
}
