.Wall {
  display: flex;
}

.Board {
  border: 1px solid black;
  background-color: wheat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: fit-content;
}

.Target {
  border-style: solid;
  border-color: transparent;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.Target div {
  border-color: black;
}

.Target.Yellow {
  background-color: yellow;
  height: 100px;
  width: 100px;
}

.Target.Blue {
  background-color: aqua;
  height: 60px;
  width: 60px;
}

.Target.Red {
  background-color: red;
  height: 15px;
  width: 15px;
}
