#ticktacktoe {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
  height: fit-content;
  width: fit-content;
  border: 2px solid black;
}

#ticktacktoe > div {
  display: flex;
  border: 2px solid black;
  font-family: "Times New Roman";
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

#square3 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

#square5 {
  grid-row: 3 / 3;
  grid-column: 3 / 3;
}
