.Card {
  border: 1px solid black;
  padding: 8px;
  border-radius: 25px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-rows: repeat(5) 1fr;
  width: 30em;
  height: 15em;
  background-color: blanchedalmond;
}

.Card span {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  font-style: italic;
}

.Company {
  font-weight: bold;
  font-style: normal;
  margin-bottom: 80px;
  margin-top: 15px;
  font-size: 40px;
}

.Slogan {
  margin-top: -140px;
}
