.Keypad {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  height: fit-content;
  width: fit-content;
  padding: 15px;
  background-color: rgb(34, 33, 39);
  border-radius: 3em;
  border: 2px solid rgb(113, 110, 110);
}

.Keypad button {
  border: 1px solid white;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  margin: 4px;
  font-size: 200%;
  font-family: monospace;
  background-image: linear-gradient(to bottom, grey, darkgrey);
}

#Pad0 {
  grid-column: 2/3;
  grid-row: 4/5;
}
