.ListOfFamilies {
  background-color: #0d1117;
  color: #c9d1d9;
  border: 1px solid grey;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 40vw;
}

body {
  font-family: sans-serif;
  background-color: black;
  text-align: center;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
