#tictactoe {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  height: fit-content;
  width: fit-content;
  border: 2px solid black;
}

#tictactoe > button {
  display: flex;
  border: 2px solid black;
  font-family: "Times New Roman";
  font-size: 15px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
