.Paintings {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 15px;
}

.Paintings div img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: 2px black solid;
  text-align: center;
}

.Paintings div {
  display: grid;
  text-align: center;
  margin-right: 70px;
}

.dogPainting {
  grid-row: 2;
  grid-column: 1;
}

.pigeonPainting {
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
