.ButtonCentral {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ButtonCentral button {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  min-height: 50vw;
  min-width: 50vw;
  border-radius: 100%;
  background-image: linear-gradient(to right, blue, cyan);
  font-size: 5vw;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: linear-gradient(to bottom, darkblue, blue);
}
