.containerdiv {
  width: 1000px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 1px lightgrey solid;
}
.containerdiv div {
  width: 50px;
  height: 50px;
  border: 1px darkgrey solid;
}
#a {
  background-color: red;
}
#b {
  background-color: green;
}
#c {
  background-color: blue;
}
#d {
  background-color: orange;
}
#e {
  background-color: yellow;
}
