.App {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  max-width: max-content;
  max-height: max-content;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
}
