.Instrument {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10vw;
  height: 50vh;
  border: 3px gold solid;
  border-radius: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Instrument img {
  max-width: 25vw;
  max-height: 25vh;
}

.InstrumentDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
  margin: auto;
}

.divContainer {
  height: 100vh;
  display: flex;
  align-items: center;
}
