body {
  background-color: #FED7B0(98, 99, 107);
  font-family: sans-serif;
}

.username {
  color: blue;
  display: inline;
  font-weight: bold;
}
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: black;
}
#header img {
  max-width: 40%;
  max-height: 40%;
}
#messages div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: black;
}
